/*-----------------------------------BASE RESPONSIVE-----------------------------------*/
/* @media screen and (max-width: 400px) {
  :root {
    --title-width: 150px;
    --title-height: 50px;
    --selector-width: 30%;
    --selector-font-size: 15px;
    --font-size: 12px;

    --about-image-size: 80px;
    --about-poke-width: 100%;
    --about-poke-padding: 6px 10px;

    --skill-image-size: 60px;
    --skill-font-size: 11px;
    --skill-padding: 2px;

    --contact-icon-size: 60px;
    --contact-poke-padding: 6px 10px;
    --contact-text-line-height: 130%;
  }
} */

@media screen and (max-width: 600px) {
  :root {
    --title-width: 300px;
    --title-height: 80px;
    --font-size: 12px;
    --selector-width: 50%;
    --selector-font-size: 20px;
    --margine-left-main: 90px;

    --about-image-size: 120px;
    --about-poke-width: 90%;
    --about-poke-padding: 8px 12px;
    --about-text-size: 10px;
    --about-image-margin-left: 20px;
    --about-image-margin-top: 40px;

    --skill-image-size: 60px;
    --skill-font-size: 12px;
    --skill-padding: 5px;

    --contact-icon-size: 80px;
    --contact-poke-padding: 8px 12px;
    --contact-text-line-height: 180%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --title-width: 450px;
    --title-height: 150px;
    --font-size: 18px;
    --selector-width: 35%;
    --selector-font-size: 20px;
    --margine-left-main: 50px;

    --about-image-size: 160px;
    --about-poke-width: 80%;
    --about-poke-padding: 10px 15px;

    --skill-image-size: 80px;
    --skill-font-size: 13px;
    --skill-padding: 8px;

    --contact-icon-size: 100px;
    --contact-poke-padding: 10px 15px;
    --contact-text-line-height: 220%;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --title-width: 600px;
    --title-height: 200px;
    --font-size: 24px;
    --selector-width: 27%;
    --selector-font-size: 20px;
    --margine-left-main: 80px;


    --about-image-size: 200px;
    --about-poke-width: fit-content;
    --about-poke-padding: 12px 18px;

    --skill-image-size: 100px;
    --skill-font-size: 14px;
    --skill-padding: 10px;

    --contact-icon-size: 120px;
    --contact-poke-padding: 12px 18px;
    --contact-text-line-height: 250%;
  }
}

