html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;   /* Removed the scroll bar in the side of screen */
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes video fill the screen */
  z-index: -1;         /* sends it behind the content */
}

/* .infoSection{
  margin-left: 100px;
  margin-bottom: 100px;
}
  */
  
  /*IMAGES FOR FRONT PAGE AND KEYFRAMES*/
  
  @keyframes typing { 
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret { 
    50% { border-color: transparent; } 
  }
  
  @keyframes typing2 {
    from {width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from {color: red}
    to {color: transparent}
  }
  
  @keyframes wind {
    from {opacity: 1}
    to {opacity: 0}
  }
  
  .littleAdam {    /*BOX CONTAINTING LITTLE ADAMS*/
    grid-area: 2/6/3/7;
    z-index: 1;
    height: 100%;
    width: 40%;
    display: grid;
    grid-template: 50% 50%/ 50% 50%;
  }
  
  #littleAdam, #littleAdam2 {
    grid-area: 1/1/3/3;
    min-height: 100px;
    max-height: 100px;
    align-self: end;
    margin-bottom: 45px;
    margin-left: 95px;
    margin-top: 100px;
  }
  
  #littleAdam2 {
    animation: wind 0.5s cubic-bezier(1,0.5,0.5,1) infinite;
  }
  
  .adam { /*box containing image*/
    display: none;
    height: 100%;
    width: 100%;
    grid-area: 3/3/6/5;
  }
  
  /* img { 
    height: 150%;
    width: 100%;
  } */
  
  .building {
    height: 100%;
    width: 100%;
    grid-area: 2/6/6/7;
    justify-self: end;
  }

  

  
  /*----------------------START FOR CLICKABLE SELECTORS--------------*/
  
  
  .selectors {
    grid-area: 2/3/2/7;
    width: 37%;
    height: 100%;
    display: grid;
    font-size: 25px; 
    margin-left: 170px;
    margin-top: -90px;
  }
  
  .about, .skills, .projects, .contact {
    height: 100%;
    width: 75%;
    color: white;
    font-family: "Press Start 2P";
    text-align: left;
  }
  
  i {
    margin-right: -5px;
    color: transparent;
  }
  
  .about:hover > p, .skills:hover > p, .projects:hover > p, .contact:hover > p {
    font-weight: bold;
    color: #ff2595;
    
    cursor: pointer;
  }
  
  .about:hover > p > i, .skills:hover > p > i, .projects:hover > p > i, .contact:hover > p > i {
    color: white;
    margin-right: 15px;
    font-size: 15px;
    animation: blink 1s steps(2, end) infinite;
    font-size: 20px;
  }
  /*----------------------END OF FRONT PAGE AND CLICKABLE SELECTORS--------------*/
  
  
