html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;   /* Removed the scroll bar in the side of screen */
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes video fill the screen */
  z-index: -1;         /* sends it behind the content */
}

/* .infoSection{
  margin-left: 100px;
  margin-bottom: 100px;
}
  */
  
  /*IMAGES FOR FRONT PAGE AND KEYFRAMES*/
  
  @keyframes typing { 
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret { 
    50% { border-color: transparent; } 
  }
  
  @keyframes typing2 {
    from {width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from {color: red}
    to {color: transparent}
  }
  
  @keyframes wind {
    from {opacity: 1}
    to {opacity: 0}
  }
  
  .littleAdam {    /*BOX CONTAINTING LITTLE ADAMS*/
    grid-area: 2/6/3/7;
    z-index: 1;
    height: 100%;
    width: 40%;
    display: grid;
    grid-template: 50% 50%/ 50% 50%;
  }
  
  #littleAdam, #littleAdam2 {
    grid-area: 1/1/3/3;
    min-height: 100px;
    max-height: 100px;
    align-self: end;
    margin-bottom: 45px;
    margin-left: 95px;
    margin-top: 100px;
  }
  
  #littleAdam2 {
    animation: wind 0.5s cubic-bezier(1,0.5,0.5,1) infinite;
  }
  
  .adam { /*box containing image*/
    display: none;
    height: 100%;
    width: 100%;
    grid-area: 3/3/6/5;
  }
  
  img { 
    height: 100%;
    width: 100%;
  }
  
  .building {
    height: 100%;
    width: 100%;
    grid-area: 2/6/6/7;
    justify-self: end;
  }

  
  /*-----------------------------------START OF FRONT PAGE------------------------------------*/
  
  .frontPage {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 1fr 150px 55px 55px 55px / 1fr 1fr 1fr 1fr 1fr 290px; 
  }
  
  .titleBox {
    grid-area: 1/2/2/5;
    height: 100%;
    width: 100%;
    color: #ff2595;
    font-family: "Press Start 2P";
    white-space: nowrap;
    margin-left: 25%;
    margin-top: 15px;
  }
  
  .titleBox > img {
    width: 600px;
    height: 200px;
    
  }
  
  .titleBox > p {
    margin-top: -1px;
    font-size: 24px;
    margin-left: 28px;
  }

  
  /*----------------------START FOR CLICKABLE SELECTORS--------------*/
  
  .selectors {
    grid-area: 2/3/6/7;
    width: 37%;
    height: 100%;
    display: grid;
    font-size: 25px; 
  }
  
  .about, .skills, .projects, .contact {
    height: 100%;
    width: 75%;
    color: white;
    font-family: "Press Start 2P";
    text-align: left;
  }
  
  i {
    margin-right: -5px;
    color: transparent;
  }
  
  .about:hover > p, .skills:hover > p, .projects:hover > p, .contact:hover > p {
    font-weight: bold;
    color: #ff2595;
    
    cursor: pointer;
  }
  
  .about:hover > p > i, .skills:hover > p > i, .projects:hover > p > i, .contact:hover > p > i {
    color: white;
    margin-right: 15px;
    font-size: 15px;
    animation: blink 1s steps(2, end) infinite;
    font-size: 20px;
  }
  /*----------------------END OF FRONT PAGE AND CLICKABLE SELECTORS--------------*/
  
  
  /*---------------------------------------------START OF ABOUT ME-------------------------------------*/
  
  .aboutPage {
    grid-area: 1/1/2/7;
    display: none;
  }
  
  .aboutTab {
    display: grid;
    grid-template: 1fr 1fr/1fr 1.5fr 1fr ;
    color: white;
    font-family: "Press Start 2P";
  }

  .aboutTab > img {
    grid-area: 1/1/3/2;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 75px;
  }
  #adam2 {
    animation: wind 0.5s cubic-bezier(1,0.5,0.5,1) infinite;
    margin-left: 100px;
    margin-top: 75px;
  }

  .aboutTab > p {
    grid-area: 1/2/3/3;
    font-size: 14px;
    line-height: 250%;
    margin-top: 25px;
    margin-right: 15px;
  }
  
  #close {
    grid-area: 1/4/2/5;
    font-size: 50px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
    
  }
  
  #close:hover {
    cursor: pointer;
  }
  /*---------------------------------------------END OF ABOUT ME-------------------------------------*/
  
  
  /*------------------------START OF SKILLS---------------------*/
  
  .skillPage {
    height: 10%;
    width: 100%;
    display: none;
   /* grid-area: 1/1/2/7;*/
  }
  
  .skillTab { 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  }
  
  .skillWords {
    grid-area: 1/1/4/2;
    font-family: "Press Start 2P";
    color: white;
    height: 100%;
    width: 100%;
  }
  .skillWords > p {
    line-height: 250%;
    text-align: center;
  }
  
  .languages > img {
    width: 100px;
    height: 120px;
  }
  
  .close {
    position: absolute;
    right: 5px;
    font-family: "Press Start 2P";
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
  }
  
  .close:hover {
    cursor: pointer;
  }
  
  .languages {
    height: 100%;
    width: 80%;
    grid-area: 1/2/4/4;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    justify-self: center;
  }
  
  /* Name of all the skills */
  .skillName1{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left: 31px;
  }
  .skillName2{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:25px ;
  }   
  .skillName3{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
  }   
  .skillName4{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:30px ;
  }   
  .skillName5{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:45px ;
  } 
  .skillName6{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:50px ;
  } 
  .skillName7{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:3px ;
  } 
  .skillName8{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:40px ;
  } 
  .skillName9{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:10px ;
  } 
  .skillName10{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:40px ;
  } 
  .skillName11{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:40px ;
  } 

  /* Logo for all the skills */
  .python{
    height: 70px;
    width: 150px;
    align-items: center center;
  }
  .pytorch{
    height: 50px;
    width: 150px;
    align-items: center center;
  }
  .tensorflow{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .opencv{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .html{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .css{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .javascript{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .jquery{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .bootstrap{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .ajax{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  .react{
    height: 100px;
    width: 150px;
    align-items: center center;
  }
  /*------------------------END OF SKILLS---------------------*/
  
  
  /*------------------------------------------------------------START OF PROJECTS----------------------------------------------*/
  
  .projectPage {
    display:none;
    background-image: url("http://res.cloudinary.com/adamlancon/image/upload/v1506500545/megamanselectbackground_uuj0fx.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
  }
  
  .projectTab {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 10% 1fr 1fr 1fr 10px /20% 1fr 1fr 1fr 20%;
  }
  
  .projectTab > h1 {
    grid-area: 1/2/2/5;
    justify-self: center;
    align-self: start;
    font-family: "Press Start 2P";
    color: red;
    white-space: nowrap;
    margin-top: 50px;
  }
  
  .projectTab > div {
    height:60%;
    width: 70%;
    border: solid white 6px;
    background-color: black;
    font-size: 10px;
    color: white;
    text-align: center;
  }
  
  .projectTab > div:hover {
    border: solid black 4px;
    cursor: pointer;
    background-color: white;
  }
  
  .projectTab > div > a {
    height: 90%;
    width: 90%;
    color: white;
    font-size: 10px;
  }
  
  .projectTab > div > a > img {
    height: 95%;
    width: 95%;
    border: ridge blue 4px;
  }
  
  .first {
   grid-area:2/2/3/3;
    justify-self: center;
  }
  
  .second {
   grid-area:2/3/3/4;
    justify-self: center;
  }
  
  .third {
   grid-area:2/4/3/5; 
    justify-self: center;
  }
  
  .fourth {
   grid-area:3/2/4/3;
    justify-self: center;
  }
  
  .fifth {
   grid-area:3/3/4/4; 
    justify-self: center;
  }
  
  .sixth {
   grid-area:3/4/4/5;
    justify-self: center;
  }
  
  .seventh {
   grid-area:4/2/5/3; 
    justify-self: center;
  }
  
  .eighth {
   grid-area:4/3/5/4; 
    justify-self: center;
  }
  
  .ninth {
    grid-area:4/4/5/5;
    justify-self: center;
  }
  

   /* close button*/
  .closer {
    grid-area: 1/5/2/6;
    justify-self: end;
    margin-right: 20px;
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
  }
  
  .closer:hover {
    cursor: pointer;
  }
  
  /*------------------------------------------------------------END OF PROJECTS----------------------------------------------*/
  
  
  /*---------------------START OF CONTACTS--------------------------------*/
  
  
  .contactPage {
    display: none;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
  }
  
  .contactTab {
    display: grid;
    grid-template:  1fr 1fr 1fr/ 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  
  .words {
    grid-area: 2/1/3/4;
    height: 100%;
    width: 50%;
    color: white;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    justify-self: center;
  }
  
  .social {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template: 100%/ 1fr 1fr 1fr 1fr 1fr;
    height: 90%;
    width: 85%;
  }
  
  .social > div {
    height: 60%;
    width: 60%;
    justify-self: center;
  }


  
  /* .facebook {
    grid-area: 1/1/2/2;
  }
  
  .twitter {
    grid-area: 1/2/2/3;
  }
  
  .codepen {
    grid-area: 1/3/2/4;
  } */
  
  .github {
    grid-area: 1/4/2/5;
    align-self: center;
  }
  
  .linkedin {
    grid-area: 1/3/2/4;
    align-self: center;
  }
  
  .resume {
    grid-area: 3/2/4/3;
    justify-self: center;
    color: pink;
  }
  
  .resume:hover {
    cursor: pointer;
  }
  
  .resume > a > img {
    height: 90px;
    width: 60px;
    margin-left: 12px;
  }
  
  .closing {
    position: absolute;
    right: 5px;
    font-family: "Press Start 2P";
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
  }

  .closing:hover {
    cursor: pointer;
  }
  

  /*---------------------END OF CONTACTS--------------------------------*/
  
  /*-----------------------------RESPONSIVE----------------------------------------------*/
  /*-----------------------------RESPONSIVE----------------------------------------------*/
  /*-----------------------------RESPONSIVE----------------------------------------------*/
  /*-----------------------------RESPONSIVE----------------------------------------------*/
  
  /* Screen resolution at 850px (small laptops/ tablets) */
  @media screen and (max-width: 850px) {
    .titleBox > img {
      width: 400px;
    }
    
    .titleBox > p {
      font-size: 15.5px;
    }
    
    .selectors {
      font-size: 16px;
    }
    
    .aboutTab {
      grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
    .aboutTab > img {
      height: 150px;
      width: 150px;
      grid-area: 1/2/2/3;
    }
    
    .aboutTab > p {
      grid-area: 2/1/4/4;
      align-self: start;
      font-size: 13px;
      margin-left: 100px;
      line-height: 125%;
    }
    
    .skillWords {
      font-size: 12px;
      grid-area: 1/1/2/4;
      line-height: 125%;
    }
    
    .languages {
      grid-area: 2/1/4/4;
      width: 80%;
      height: 80%;
      justify-self: center;
    }
    
    .social {
      width: 100%;
    }
    
    .social > div {
      height: 60px;
      width: 60px;
      align-self: end;
    }

    
  }
  
  /* Screen resolution at 550px (large phones/ small tablets) */
  @media screen and (max-width: 550px) {
    
    .titleBox > img {
      width: 300px;
    }
    
    .titleBox > p {
      font-size: 13px;
    }
    
    .selectors {
      font-size: 16px;
      grid-area: 2/1/5/7;
    }
    
    .aboutTab > p {
      font-size: 12px;
    }
    
    .skillPage {
      font-size: 10px;
    }
    
    .skillTab > img {
      width: 60%;
      height: 60%;
    }
    
    .languages {
      grid-area: 1/1/2/4;
      grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
      height: 130px;
    }
    
    .languages > img {
      height: 60px;
    }
    
    #react {
      grid-area: 2/4
    }
    
    .skillWords {
      grid-area: 2/1/3/4;
      font-size: 9px;
    }
    
    .projectTab {
      grid-template: 10% 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
    .projectTab > div {
      height: 100px;
      width: 100px;
      margin-left: 10px;
    }
    
    .closing {
      grid-area: 1/3/2/4;
    }
    
    .close {
      grid-area: 1/3/2/4;
    }

    .projectTab > h1 {
      grid-area: 1/1/2/4;
      font-size: 13px;
    }
    
    /* .first {
      grid-area: 2/1/3/2;
    }
    
    .second {
      grid-area: 2/2/3/3;
    }
    
    .third {
      grid-area: 2/3/3/4;
    }
    
    .fourth {
      grid-area: 3/1/4/2;
    }
    
    .fifth {
      grid-area: 3/2/4/3;
    }
    
    .sixth {
      grid-area: 3/3/4/4;
    }
    
    .seventh {
      grid-area: 4/1/5/2;
    }
    
    .eighth {
      grid-area: 4/2/5/3;
    }
    
    .ninth {
      grid-area: 4/3/5/4;
    }
     */
    
    .social {
      height: 50%;
      align-self: center;
    }
    
  }
  
  /* Screen resolution at (small phones, Iphone SE??) */
  @media screen and (max-width: 375px) {
    .selectors {
      grid-area: 2/2/3/3;
      margin-top: 50px;
    }
    
    /* .aboutTab > img {
    } */
    
    .aboutTab > p {
      font-size: 11px;
    }
    
    
    .projectPage {
      height: 100%;
      width: 100%;
    }
    
    .projectTab > div {
      height: 75px;
      width: 75px;
      font-size: 9px;
      border: solid white 2px;
    }
    .projectTab > div > a > img {
      border: solid blue 1px;
    }

  }
  
  /* Screen resolution at 500px smallest screen size */
  @media screen and (max-width: 500px){
    .selectors {
      grid-area: 2/2/2/3;
      margin-top: 50px;
      font-size: 10px;
    }

    .languages {
      
      height: -100px;
      width: 0px;
    }

    /* .resume{

    } */
  }