 /*---------------------------------------------START OF ABOUT ME-------------------------------------*/
  
  .aboutPage {
    grid-area: 1/1/2/7;
    display: none;
  }
  
  .poke-box-about {
    grid-area: 1/2/3/2;
    background: rgba(24, 24, 24, 0.8);   
    border: 4px solid #000000;             

    box-shadow:
      0 0 0 4px #ffffff,                  
      0 0 0 8px #4a4a4a;                   

    width: fit-content;
    display: inline-block;

    image-rendering: pixelated;      /*pixelated style*/ 
    border-radius: 4px;

    margin-top: 15px;
  }

  .aboutTab {
    display: grid;
    grid-template: 1fr 1fr/1fr 1.5fr 1fr ;
    color: white;
    font-family: "Press Start 2P";
  }

  .aboutTab > img {
    grid-area: 1/1/3/2;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 75px;
  }
  #adam2 {
    animation: wind 0.5s cubic-bezier(1,0.5,0.5,1) infinite;
    margin-left: 100px;
    margin-top: 75px;
  }

  .aboutTab > p {
    font-size: 14px;
    line-height: 50%;
    /* margin-top: 25px; */
    /* margin-right: 15px; */
  }
  
  #close {
    grid-area: 1/4/2/5;
    font-size: 50px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
    
  }
  
  #close:hover {
    cursor: pointer;
  }