:root {
  /* ABOUT PAGE VARIABLES */
  --about-poke-width: fit-content;
  --about-poke-padding: 12px 18px;
  --about-image-size: 200px;
  --about-text-size: 14px;
  --about-image-margin-left: 100px;
  --about-image-margin-top: 75px;
}


/*--------------------------- START OF ABOUT ME ---------------------------*/
.aboutPage {
  display: none;
}

/* Poke Box */
.poke-box-about {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 50;

  background: rgba(24, 24, 24, 0.8);
  border: 4px solid #000;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 8px #4a4a4a;
  width: var(--about-poke-width);
  max-width: 80vw;
  padding: var(--about-poke-padding);

  display: inline-block;
  border-radius: 4px;
  image-rendering: pixelated;
}

.aboutTab {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1.5fr 1fr;
  font-family: var(--main-font);
  color: var(--text-color);
}

/* Main Images */
.aboutTab > img {
  grid-area: 1 / 1 / 3 / 2;
  width: var(--about-image-size);
  height: var(--about-image-size);
  margin-left: var(--about-image-margin-left);
  margin-top: var(--about-image-margin-top);
}

#adam2 {
  animation: wind var(--wind-speed) cubic-bezier(1,0.5,0.5,1) infinite;
  margin-left: var(--about-image-margin-left);
  margin-top: var(--about-image-margin-top);
}

/* Description */
.aboutTab > p {
  grid-area: 1 / 2 / 3 / 3;
  font-size: var(--about-text-size);
  line-height: 150%;
}

/* Close Button (Fixed grid area) */
#close {
  grid-area: 1 / 3 / 2 / 4;
  font-size: 40px;
  color: var(--close-color);
  animation: blink var(--blink-speed) steps(2, end) infinite;
  justify-self: end;
}

#close:hover {
  cursor: pointer;
}
