:root {
  /* ABOUT PAGE VARIABLES */
  --about-poke-width: fit-content;
  --about-poke-padding: 12px 18px;
  --poke-about-mtop: 20px;

  --c-fontsize: 19px;

  --about-image-size: 200px;
  --about-image-margin-left: 70px;
  --about-image-margin-top: 170px;
  --translate-poke-about: translate(-50%, 20%);

  --about-text-size: 10px;

  --close-color: red;
  --blink-speed: 1s;
  --wind-speed: 0.5s;
}


/*--------------------------- START OF ABOUT ME ---------------------------*/
.aboutPage {
  display: none;
}

.me-name {
  font-size: 40px;
  color: #ff2595;
}

.c-info {
  font-size: var(--c-fontsize);
  color: #ff2595;
}

.poke-box-about {
  position: absolute;
  left:30%;
  top: 30%;
  transform: var(--translate-poke-about); 
  z-index: 50;

  background: rgba(24, 24, 24, 0.8);
  border: 4px solid #000;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 8px #4a4a4a;

  width: var(--about-poke-width);
  max-width: 50vw;                 /* make sure it NEVER leaves screen */
  padding: var(--about-poke-padding);

  border-radius: 4px;
  image-rendering: pixelated;
  position: relative;
  /* overflow: hidden; */
}

.aboutTab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: var(--main-font);
  color: var(--text-color);
}

.aboutImages {
  position: relative;
  width: var(--about-image-size);
  height: var(--about-image-size);

  margin-left: var(--about-image-margin-left);
  margin-top: var(--about-image-margin-top);
}

.aboutImages img,
.aboutImages #adam2 {
  position: absolute;  

  width: var(--about-image-size);
  height: var(--about-image-size);

  pointer-events: none;   
}

#adam2 {
  animation: wind var(--wind-speed) cubic-bezier(1,0.5,0.5,1) infinite;
}

.aboutTab > p {
  font-size: var(--about-text-size);
  line-height: 70%;
  max-width: 300px;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 40px;
  color: var(--close-color);
  animation: blink var(--blink-speed) steps(2, end) infinite;
  cursor: pointer;
  
}

.markdown-content {
  font-size: clamp(12px, 2vw, 18px);
}
