/*---------------------START OF CONTACTS--------------------------------*/
  .contactPage {
    display: none;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
  }
  
  .contactTab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 5 equal columns */
    grid-template-rows: repeat(5, 1fr);     /* 5 equal rows */
    gap: 40px;                               /* spacing between items */
    height: 100%;
    width: 100%;
    place-items: center;                      /* centers everything */
  }

  
  .poke-box {
    grid-area: 2/2/2/2;
    background: rgba(24, 24, 24, 0.8);   
    border: 4px solid #000000;             

    box-shadow:
      0 0 0 4px #ffffff,                  
      0 0 0 8px #4a4a4a;                   

    width: fit-content;
    display: inline-block;

    image-rendering: pixelated;      /*pixelated style*/ 
    border-radius: 4px;
  }

  .words { 
    color: white; 
    font-size: 14px; 
    line-height: 250%; 
  }


  /*
  .codepen {
    grid-area: 1/3/2/4;
  } */
  
  .contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
  }

  .contact-icon img {
    max-width: 100%;
    max-height: 100%;
  }



  .closing {
    position: absolute;
    right: 5px;
    font-family: "Press Start 2P";
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
  }

  .closing:hover {
    cursor: pointer;
  }