/* ------------------------------------------------------------ PROJECTS (FLEX VERSION) ------------------------------------------------------------ */
.projectPage {
  display: none;
  background-image: url("http://res.cloudinary.com/adamlancon/image/upload/v1506500545/megamanselectbackground_uuj0fx.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "Press Start 2P";
  position: relative;
  overflow: hidden;
}

.projectTab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 30px;
  position: relative;
}

.projectTab h1 {
  color: red;
  font-family: "Press Start 2P";
  white-space: nowrap;
  margin-bottom: 20px;
}

.closer {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: red;
  animation: blink 1s steps(2, end) infinite;
  cursor: pointer;
}

@keyframes blink {
  50% { opacity: 0; }
}

.projectGrid {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 40px;
}

.projectItem {
  width: 180px;
  height: 160px;
  border: solid white 6px;
  background-color: black;
  font-size: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s ease;
}

.projectItem:hover {
  border: solid black 4px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.projectItem a {
  width: 90%;
  height: 90%;
  color: inherit;
  font-size: 10px;
  text-decoration: none;
  align-self: center;
}

.projectItem a img {
  width: 95%;
  height: 95%;
  border: ridge blue 4px;
}
