  /*-----------------------------RESPONSIVE----------------------------------------------*/
  
  /* Screen resolution at 850px (small laptops/ tablets) */
  @media screen and (max-width: 850px) {
    .titleBox > img {
      width: 400px;
    }
    
    .titleBox > p {
      font-size: 15.5px;
    }
    
    .selectors {
      font-size: 16px;
    }
    
    .aboutTab {
      grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
    .aboutTab > img {
      height: 150px;
      width: 150px;
      grid-area: 1/2/2/3;
    }
    
    .aboutTab > p {
      grid-area: 2/1/4/4;
      align-self: start;
      font-size: 13px;
      margin-left: 100px;
      line-height: 125%;
    }
    
    .skillWords {
      font-size: 12px;
      grid-area: 1/1/2/4;
      line-height: 125%;
    }
    
    .languages {
      grid-area: 2/1/4/4;
      width: 80%;
      height: 80%;
      justify-self: center;
    }
    
    .social {
      width: 100%;
    }
    
    .social > div {
      height: 60px;
      width: 60px;
      align-self: end;
    }

    
  }
  
  /* Screen resolution at 550px (large phones/ small tablets) */
  @media screen and (max-width: 550px) {
    
    .titleBox > img {
      width: 300px;
    }
    
    .titleBox > p {
      font-size: 13px;
    }
    
    .selectors {
      font-size: 16px;
      grid-area: 2/1/5/7;
    }
    
    .aboutTab > p {
      font-size: 12px;
    }
    
    .skillPage {
      font-size: 10px;
    }
    
    .skillTab > img {
      width: 60%;
      height: 60%;
    }
    
    .languages {
      grid-area: 1/1/2/4;
      grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
      height: 130px;
    }
    
    .languages > img {
      height: 60px;
    }
    
    #react {
      grid-area: 2/4
    }
    
    .skillWords {
      grid-area: 2/1/3/4;
      font-size: 9px;
    }
    
    .projectTab {
      grid-template: 10% 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
    .projectTab > div {
      height: 100px;
      width: 100px;
      margin-left: 10px;
    }
    
    .closing {
      grid-area: 1/3/2/4;
    }
    
    .close {
      grid-area: 1/3/2/4;
    }

    .projectTab > h1 {
      grid-area: 1/1/2/4;
      font-size: 13px;
    }
    
    /* .first {
      grid-area: 2/1/3/2;
    }
    
    .second {
      grid-area: 2/2/3/3;
    }
    
    .third {
      grid-area: 2/3/3/4;
    }
    
    .fourth {
      grid-area: 3/1/4/2;
    }
    
    .fifth {
      grid-area: 3/2/4/3;
    }
    
    .sixth {
      grid-area: 3/3/4/4;
    }
    
    .seventh {
      grid-area: 4/1/5/2;
    }
    
    .eighth {
      grid-area: 4/2/5/3;
    }
    
    .ninth {
      grid-area: 4/3/5/4;
    }
     */
    
    .social {
      height: 50%;
      align-self: center;
    }
    
  }
  
  /* Screen resolution at (small phones, Iphone SE??) */
  @media screen and (max-width: 375px) {
    .selectors {
      grid-area: 2/2/3/3;
      margin-top: 50px;
    }
    
    /* .aboutTab > img {
    } */
    
    .aboutTab > p {
      font-size: 11px;
    }
    
    
    .projectPage {
      height: 100%;
      width: 100%;
    }
    
    .projectTab > div {
      height: 75px;
      width: 75px;
      font-size: 9px;
      border: solid white 2px;
    }
    .projectTab > div > a > img {
      border: solid blue 1px;
    }

  }
  
  /* Screen resolution at 500px smallest screen size */
  @media screen and (max-width: 500px){
    .selectors {
      grid-area: 2/2/2/3;
      margin-top: 50px;
      font-size: 10px;
    }

    .languages {
      
      height: -100px;
      width: 0px;
    }

    /* .resume{

    } */
  }