  /*------------------------START OF SKILLS---------------------*/
  
  .skillPage {
    height: 10%;
    width: 100%;
    display: none;
   /* grid-area: 1/1/2/7;*/
  }
  
  .skillTab { 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  }
  
  .skillWords {
    grid-area: 1/1/4/2;
    font-family: "Press Start 2P";
    color: white;
    height: 100%;
    width: 100%;
  }
  .skillWords > p {
    line-height: 250%;
    text-align: center;
  }
  
  /* .languages > img {
    width: 100px;
    height: 120px;
  } */
  
  .close {
    position: absolute;
    right: 5px;
    font-family: "Press Start 2P";
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
  }
  
  .close:hover {
    cursor: pointer;
  }
  
  .languages {
    height: 100%;
    width: 80%;
    grid-area: 1/2/4/4;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    justify-self: center;
  }
  
  /* Name of all the skills */
  .skillName-python{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left: 31px;
  }
  .skillName-pytorch{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:25px ;
  }   
  .skillName-tensorflow{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
  }   
  .skillName-opencv{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:15px ;
  }   
  .skillName-html{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:18px ;
  } 
  .skillName-css{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:25px ;
  } 
  .skillName-js{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    
  } 
  .skillName-jquery{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:10px ;
  } 
  .skillName-bootstrap{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-right:10px ;
  } 
  .skillName-ajax{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:15px ;
  } 
  .skillName-react{
    font-family: "Press Start 2P";
    color: #ff2595;
    font-size: 15px;
    margin-left:12px ;
  } 

  /* Logo for all the skills */
  .python{
    height: 70px;
    width: 150px;
    align-items: center center;
  }
  .pytorch{
    height: 50px;
    width: 150px;
    align-items: center center;
  }
  .tensorflow{
    height: 80px;
    width: 100px;
    align-items: center center;
  }
  .opencv{
    height: 100px;
    width: 90px;
    align-items: center center;
    margin-left: 20px;
  }
  .html{
    height: 100px;
    width: 90px;
    align-items: center center;
  }
  .css{
    height: 100px;
    width: 90px;
    align-items: center center;
  }
  .javascript{
    height: 100px;
    width: 90px;
    align-items: center center;
    margin-left: 20px;
  }
  .jquery{
    height: 100px;
    width: 150px;
    align-items: center center;

  }
  .bootstrap{
    height: 100px;
    width: 90px;
    align-items: center center;
    margin-left: 10px;
  }
  .ajax{
    height: 100px;
    width: 90px;
    align-items: center center;
  }
  .react{
    height: 100px;
    width: 90px;
    align-items: center center;
  }