  /*-----------------------------------START OF FRONT PAGE------------------------------------*/
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden;  REMOVE THIS */
  }

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

  .frontPage {
    position: relative;   /* Add this */
    z-index: 1;           /* Add this so it sits above the video */

    display: flex;
    flex-direction: column;   
    height: 100%;
    width: 100%;
    align-items: center;
    background: transparent; /* Ensure no background hides video */
}



  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
    color: #ff2595;
    font-family: "Press Start 2P";
    white-space: nowrap;
  }
  .titleBox > img {
    width: 600px;
    height: 200px;
  }
  .titleBox > p {
    margin-top: -1px;
    font-size: 24px;
    margin-left: 28px;
  }

  .selectors {
    width: 27%;
    height: 50%;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    font-size: 25px;
    margin-left: 100px;
  }
