  :root {
    /* Front page sizes */
    --title-width: 600px;
    --title-height: 200px;

    --font-size: 24px;

    --selector-width: 27%;
    --selector-font-size: 25px;
    --margine-left-main: 90px;

    /* Front page video */
    --video-width: 100%;
    --video-height: 100%;
  }
  
  
  
  
  /*-----------------------------------START OF FRONT PAGE------------------------------------*/
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--video-width);
    height: var(--video-height);
    z-index: var(--video-z);
    object-fit: cover;

    pointer-events: none;
  }

  .frontPage {
    position: relative;   /* Add this */
    z-index: 1;           /* Add this so it sits above the video */

    display: flex;
    flex-direction: column;   
    height: 100%;
    width: 100%;
    align-items: center;
    background: transparent; /* Ensure no background hides video */
  }

  /* .volumeSlider{
    width: 75%;
    
  } */

  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
    color: #ff2595;
    font-family: "Press Start 2P";
    white-space: nowrap;
  }
  .titleBox > img {
    width: var(--title-width);
    height: var(--title-height);
  }
  .titleBox > p {
    margin-top: -1px;
    font-size: var(--font-size);
    margin-left: 28px;
  }

  .selectors {
    width: var(--selector-width);
    font-size: var(--selector-font-size);
    margin-left: var(--margine-left-main);
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
  }
